
@import "compass/reset";
@import "compass/css3";

$FontAwesomePath: "/fonts" !default;
//
@import "font-awesome";

body {
}

.header {
  width: 90%;
  margin: auto;
}
.title {
  font-size: 200%;
  font-weight: bold;
}
.menu {
  float: right;
  .item {
    width: 110px;
  }
}
