
@import "compass/reset";
@import "compass/css3";

$FontAwesomePath: "/fonts" !default;
//
@import "font-awesome";

body {
  font-family: Helvetica;
  font-size: 16px;
}

.header {
  background-color: red;
}
.header-content {
  width: 90%;
  margin: auto;
}
.title {
  padding-top: 0.5em;
  font-size: 280%;
  font-weight: bold;
  color: white;
  margin-bottom: 0.1em;
}
.subtitle {
  font-size: 140%;
  font-weight: bold;
  color: white;
  opacity: 0.9;
}
.subtitle-uni {
  margin-top: 3px;
  //color: white;
  opacity: 0.9;
  a {
    text-decoration: none;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
    opacity: 0.7;
  }
  a:active {
    color: white;
  }
}
.menu {
  //float: right;
  padding-bottom: 0.5em;
  margin-top: 1.4em;
  margin-bottom: 0.7em;
  .item {
    cursor: pointer;
    margin-right: 0.7em;
    color: white;
    font-weight: bold;
    &:hover {
      opacity: 0.7;
    }
  }
}
.content {
  width: 90%;
  margin: auto;
}
.footer {
  margin-top: 1em;
  padding-top: 1em;
  background-color: lightgrey;
  min-height: 7em;
}
.footer-content {
  width: 90%;
  margin: auto;
  font-size: 77%;
}

h1 {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 1em;
}
h2 {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

