
@import "compass/reset";
@import "compass/css3";

$FontAwesomePath: "/fonts" !default;
//
@import "font-awesome";

// Using the footer technique from Chris Coyer

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
  font-size: 16px;
}

$footer-height: 140px;

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: $footer-height;
}

.header {
  background-color: red;
}
.header-content {
  width: 90%;
  margin: auto;
}
.title {
  padding-top: 0.5em;
  font-size: 280%;
  font-weight: bold;
  color: white;
  margin-bottom: 0.1em;
}
.subtitle {
  font-size: 140%;
  font-weight: bold;
  color: white;
  opacity: 0.9;
}
.subtitle-uni {
  margin-top: 3px;
  //color: white;
  opacity: 0.9;
  a {
    text-decoration: none;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
    opacity: 0.7;
  }
  a:active {
    color: white;
  }
}
.menu {
  padding-bottom: 0.5em;
  margin-top: 1.4em;
  margin-bottom: 0.7em;
  a {
    margin-right: 0.7em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
}
.content {
  width: 90%;
  margin: auto;
}
.footer {
  background-color: lightgrey;
}
.footer-content {
  padding-top: 1em;
  width: 90%;
  margin: auto;
  font-size: 77%;
}

h1 {
  font-size: 200%;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}
h2 {
  font-size: 150%;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}
ul {
  margin-bottom: 1em;
  list-style: disc inside none;
}
li {
  margin-bottom: 0.2em;
}
table {
  margin-bottom: 1em;
}
td {
  padding-right: 2em;
}

.page-resume { // resume.md

  #personal_data + table {
    //td:first-child {
    //  font-weight: bold;
    //}
  }
}

