<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>

    <title>MeleLab - {{ page.title }}</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link href="/css/site.css" rel="stylesheet" />

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/mele.js"></script>
  </head>

<body class="page-{{ page.title }}">

  <div class="page-wrap">
    <div class="header">
      <div class="header-content">
        <div class="title">Paolo Mele Laboratory</div>
        <div class="subtitle">
          <a
            href="http://www.hiroshima-u.ac.jp/rcsd/"
          >Institute for Sustainable Sciences and Development</a>
        </div>
        <div class="subtitle-uni"><a href="http://www.hiroshima-u.ac.jp" target="_blank">Hiroshima University</a></div>
        <div class="menu">
          <a href="/">home</a>
          <a href="/resume.html">resume</a>
          <a href="/publications.html">publications</a>
          <a href="/presentations.html">presentations</a>
          <a href="/group.html">research group</a>
          <a href="/interests.html">research interests</a>
          <a href="/links.html">links</a>
          <a href="/access.html">access</a>
        </div>
      </div>
    </div>

    <div class="content">
{{ content }}
    </div>
  </div>

  <div class="footer">
    <div class="footer-content">
      <div class="copyright">
        Copyright Paolo Mele 2012-2014
      </div>
      <div class="tracking">
        {% include tracking.html %}
      </div>
    </div>
  </div>

</body>
</html>

